@model GeradorCenarioMVC.Application.DTOs.ConquistaDTO

@{
	Layout = "_AdminLayout";    

}


<!-- Page Title
		============================================= -->
<section class="page-title bg-transparent">
	<div class="container">
		<div class="page-title-row">

			<div class="page-title-content">
				<h1>@ViewData["Title"]</h1>
			</div>

			<nav aria-label="breadcrumb">
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="#">Home</a></li>
					<li class="breadcrumb-item"><a href="#">Administração</a></li>
					<li class="breadcrumb-item"><a href="#">Conquista</a></li>
					<li class="breadcrumb-item active" aria-current="page">Cadastrar uma Nova Conquista</li>
				</ol>
			</nav>

		</div>
	</div>
</section><!-- .page-title end -->
<!-- Content
============================================= -->
<section id="content">
	<div class="content-wrap">
		<div class="container">

			<div class="form-widget">

				<div class="form-result text-danger"></div>

				<div class="row">
					<div class="col-lg-6">

						<form asp-action="Create" method="post" class="row" id="conquista-registration">
							@Html.AntiForgeryToken()
							@* <div asp-validation-summary="All" class="text-danger"></div> *@
							
							@{
								var titulo = @Model==null ? "" : @Model.titulo != "" ? @Model.titulo : "";
							}

							<div class="col-6 form-group">
								<label asp-for="titulo">Título:</label>
								<input asp-for="titulo" type="text" class="form-control required" value="@titulo" placeholder="Entre com  o título">
								<span asp-validation-for="titulo" class="text-danger"></span>
							</div>

							<div class="col-12 d-none">
								<input type="text" id="conquista-registration-botcheck" name="conquista-registration-botcheck" value="" class="form-control" />
							</div>

							<div class="col-12 form-group">
								<label asp-for="tipoConquistaId">Tipo de Conquista:</label>
								<select asp-for="tipoConquistaId" class="form-select required" asp-items="ViewBag.TipoConquistaId"> 									
								</select>
								<span asp-validation-for="tipoConquistaId" class="text-danger"></span>								
							</div>							

							
							<div class="col-12">
								<button type="submit" name="conquista-registration-submit" class="btn btn-secondary">Cadastrar</button>
								<a asp-action="Index" class="btn btn-info">Voltar</a>
							</div>

							


							<!-- Form Settings -->

							<input type="hidden" name="prefix" value="conquista-registration-">
							<input type="hidden" name="subject" value="Message from Contact Form">

						</form>						
					</div>
				
				</div>

			</div>

			<!-- Notification Types -->
			<a href="#" id="linkError" class="btn btn-danger me-2" style="display:none;" data-notify-type="error" data-notify-msg="<i class='bi-x-circle-fill me-1'></i> Incorrect Input. Please Try Again!" onclick="SEMICOLON.Modules.notifications(this); return false;">Show Error</a>

		</div>
	</div>
</section><!-- #content end -->
@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");

		var mensagemRetorno = ViewData["MessageReturn"] as MessageReturn;
		var retorno = ViewData["MessageReturn"] != null ? mensagemRetorno.Result : "";
		var mensagem = ViewData["MessageReturn"] != null ? mensagemRetorno.Message : "";
	}

	<script>
		jQuery(document).ready(function () {
			var retorno = '@retorno';
			var mensagem = '@mensagem';
			if (retorno = 'ERROR' && mensagem != "") {
				$("#linkError").attr("data-notify-msg", "<i class='bi-x-circle-fill me-1'></i> " && mensagem);
				$("#linkError").click();
			}			
		});
	</script>		
	
}