@model GeradorCenarioMVC.Application.DTOs.TipoConquistaDTO


@{
	Layout = "_AdminLayout";
}


<!-- Page Title
		============================================= -->
<section class="page-title bg-transparent">
	<div class="container">
		<div class="page-title-row">

			<div class="page-title-content">
				<h1>@ViewData["Title"]</h1>
			</div>

			<nav aria-label="breadcrumb">
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="#">Home</a></li>
					<li class="breadcrumb-item"><a href="#">Administração</a></li>
					<li class="breadcrumb-item"><a href="#">Tipo de Conquista</a></li>
					<li class="breadcrumb-item active" aria-current="page">Editar Tipo de Conquista</li>
				</ol>
			</nav>

		</div>
	</div>
</section><!-- .page-title end -->
<!-- Content
============================================= -->
<section id="content">
	<div class="content-wrap">
		<div class="container">

			<div class="form-widget">

				<div class="form-result text-danger"></div>

				<div class="row">
					<div class="col-lg-6">

						<form asp-action="Edit" method="post" class="row" id="tipoConquista-registration">
							@Html.AntiForgeryToken()

							
							
							
							@*<div asp-validation-summary="All" class="text-danger"></div>*@
							@*<div class="alert alert-dismissible alert-danger" id="tipoConquista-registration-validation" style="display:none;"></div>*@

							<div id="tipoConquista-registration-div"></div>

							
							<div class="col-6 form-group">
								<label asp-for="nome">Nome:</label>
								@*<input asp-for="nome" type="text" name="tipoConquista-registration-nome" id="tipoConquista-registration-nome" class="form-control required" value="" placeholder="Entre com  o nome">*@
								@Html.TextBoxFor(m => m.nome, new { @Value= Model.nome,  @class = "form-control required", placeholder="Entre com  o nome", id="tipoConquista-registration-nome", name="tipoConquista-registration-nome"})
								<span asp-validation-for="nome" class="text-danger"></span>
							</div>
							<div class="col-12 form-group">
								<label asp-for="ativo">Ativo:</label>
								<div class="form-check form-check-inline">
									@{
										var ativo = Model.ativo == true ? "checked" : string.Empty;										
									}

									@Html.RadioButtonFor(m=>m.ativo,true, new { htmlAttributes = new { @class = "form-check-input required valid", name="tipoConquista-registration-ativo", id="tipoConquista-registration-ativo-sim", ativo } } )									
									<label class="form-check-label text-transform-none" for="tipoConquista-registration-ativo-sim">sim</label>									
								</div>
								<div class="form-check form-check-inline">
									@Html.RadioButtonFor(m=>m.ativo,false, new { htmlAttributes = new { @class = "form-check-input required valid", name="tipoConquista-registration-ativo", id="tipoConquista-registration-ativo-nao", ativo } } )									
									<label class="form-check-label text-transform-none" for="tipoConquista-registration-ativo-nao">não</label>
								</div>
							</div>
							

							
							@Html.HiddenFor(m => m.id,new { @Value= Model.id, id="tipoConquista-registration-id"})
							

							<div class="col-12 d-none">
								<input type="text" id="tipoConquista-registration-botcheck" name="tipoConquista-registration-botcheck" value="" class="form-control" />
							</div>


							<div class="col-12">
								<button type="submit" id="tipoConquista-registration-submit" name="tipoConquista-registration-submit" class="btn btn-secondary">Atualizar</button>
								<a asp-action="Index" class="btn btn-info">Voltar</a>
							</div>




							<!-- Form Settings -->

							<input type="hidden" name="prefix" value="tipoConquista-registration-">
							<input type="hidden" name="subject" value="Message from Contact Form">

						</form>
					</div>

				</div>

			</div>

		</div>
	</div>
</section><!-- #content end -->
@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
	<script src="~/js/site.js"></script>
	<script type="text/javascript">
		$(document).ready(function () {			
			@if (!Html.ViewData.ModelState.IsValid)
			{				
				string messages = string.Join("; ", Html.ViewData.ModelState.Values
											.SelectMany(x => x.Errors)
											.Select(x => x.ErrorMessage));
											
				<text>
					createAlertBoxe("tipoConquista-registration-div", "@messages", "alertDanger");										
				</text>
			}			
		});
	</script>
}